/*------------------------------------------------------------
footer
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-footer {
    &__social {
        background: $pink;
        text-align: center;
        line-height: 0;

        .l-container {
            display: inline-block;
            width: auto;
        }

        ul {
            display: table;

            li {
                display: table-cell;
                vertical-align: middle;
                line-height: 1;
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 50%;
                    right: 50%;
                    opacity: 0;
                    transition: .3s;
                    background: #fff;
                }

                @include pc {
                    &:hover {
                        &:before {
                            left: -1px;
                            right: -1px;
                            opacity: 1;
                        }
                    }
                }

                &+li {
                    &:after {
                        position: absolute;
                        content: '';
                        width: 1px;
                        background: #fff;
                        top: 30px;
                        left: 0;
                        bottom: 30px;
                    }
                }

                a {
                    font-size: 1rem;
                    color: #fff;
                    position: relative;
                    z-index: 1;
                    padding: 30px 26px;
                    display: block;

                }

                figure {
                    width: 38px;
                    display: inline-block;
                }

                img {
                    width: 100%;
                    vertical-align: middle;
                    opacity: 0;
                    transition: .3s;
                }

                span {
                    margin-left: 15px;
                }

                @include pc {
                    &:hover {
                        a {
                            color: #111;

                            &:after {
                                border-color: transparent transparent transparent #111 !important;
                            }
                        }

                        img {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    #icon_fb figure {
        background: url(/assets/img/icon/facebook_white.svg);
        background-size: cover;
    }

    #icon_ins figure {
        background: url(/assets/img/icon/instagram_white.svg);
        background-size: cover;
    }

    #icon_you figure {
        background: url(/assets/img/icon/youtube_white.svg);
        background-size: cover;
    }

    #icon_atr,
    #icon_bree {
        color: #fff;

        a {
            font-size: 1.8rem;

            &:after {
                content: '';
                display: inline-block;
                margin-left: 10px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 6px 0 6px 10px;
                transition: .3s;
                border-color: transparent transparent transparent #fff;
            }
        }
    }

    &__content {
        color: #fff;
        background: #595758;
        padding: 50px 0 43px;
    }

    &__address {
        max-width: 780px;
        margin: 0 auto;
        padding-bottom: 50px;
        margin-bottom: 45px;
        border-bottom: 1px solid #acaaab;
        @include clear;

        li {
            float: left;

            &:first-child {
                padding-left: 50px;
                width: 480px;
            }

            div {
                display: inline-block;
                border: 1px solid #fff;
                padding: 2px 18px;
                font-size: 1.8rem;
                margin-bottom: 13px;
            }

            p {
                font-size: 1.7rem;

                span {
                    font-size: 1.3rem;
                    margin-top: 25px;
                    display: block;
                }
            }
        }
    }

    &__logo {
        text-align: center;
    }

    &__copyright {
        margin-top: 20px;
        font-size: 1.4rem;
    }
}