/*------------------------------------------------------------
header
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-header {
    &__content {
        background: $pink;
        padding: 43px 0 27px;
        text-align: center;
    }

    &__lag {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 155px;

        p {
            color: #fff;
            border-radius: 50px;
            border: 1px solid #fff;
            font-size: 1.2rem;
            cursor: pointer;
            padding: 5px 0;
            transition: .3s;

            &.opened {
                &::after {
                    border-width: 0 6px 9px 6px;
                    border-color: transparent transparent #fff transparent;
                }

                @include pc {
                    &:hover {
                        &::after {
                            border-color: transparent transparent $pink transparent;
                        }
                    }
                }
            }

            &::after {
                content: '';
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 9px 6px 0 6px;
                border-color: #fff transparent transparent transparent;
                display: inline-block;
                margin-left: 12px;
                transition: .3s;
            }

            @include pc {
                &:hover {
                    color: $pink;
                    background: #fff;

                    &::after {
                        border-color: $pink transparent transparent transparent;
                    }
                }
            }
        }

        ul {
            position: absolute;
            display: none;
            top: 100%;
            left: 0;
            right: 0;
            z-index: 1;

            li {
                border: 1px solid #fff;
                font-size: 1.2rem;
                padding: 5px 0;
                margin-top: 1px;
                border-radius: 50px;
                background: $pink;
                transition: .3s;
                position: relative;

                @include pc {
                    &:hover {
                        background: #fff;

                        a {
                            color: $pink;
                        }
                    }
                }

                a {
                    color: #fff;
                    @include abf;
                }
            }
        }
    }

    &__social {
        position: absolute;
        bottom: 0;
        right: 0;

        li {
            float: right;
            margin-right: 14px;
            background-size: cover;
            position: relative;
            width: 32px;
            height: 32px;

            &:nth-child(1) a {
                background: url(/assets/img/common/social10.png) no-repeat center;
                background-size: 32px;
            }

            &:nth-child(2) a {
                background: url(/assets/img/common/social9.png) no-repeat center;
                background-size: 32px;
            }

            &:nth-child(3) a {
                background: url(/assets/img/common/social11.png) no-repeat center;
                background-size: 32px;
            }

            a {
                display: block;
                @include abf;
            }

            img {
                transition: .3s;
                width: 100%;
            }

            @include pc {
                &:hover {
                    img {
                        opacity: 0;
                    }
                }
            }
        }
    }

    &__nav {
        background: $grey;
        text-align: center;
        line-height: 0;

        ul {
            display: inline-block;

            li {
                float: left;

                line-height: 1;
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 50%;
                    right: 50%;
                    opacity: 0;
                    transition: .3s;
                    background: $pink;
                }

                @include pc {
                    &:hover {
                        &:before {
                            left: 0;
                            right: 0;
                            opacity: 1;
                        }
                    }
                }

                a {
                    font-size: 1.7rem;
                    color: #fff;
                    position: relative;
                    z-index: 1;
                    display: block;
                    padding: 25px 40px;
                }
            }
        }
    }
}