/*------------------------------------------------------------
layout
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
body {
    background: #fff;
    min-width: 1020px;

    // @include sp {
 //     min-width: inherit;
 // }
}

.l-container {
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
}

a {
    text-decoration: none;
    opacity: 1 !important;
}