/*------------------------------------------------------------
title
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-title1 {
    @include optima;
    font-size: 1.8rem;
    text-align: center;
    max-width: 690px;
    margin: 0 auto;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: 50%;
        height: 2px;
        background: #a3a3a3;
        left: 0;
        right: 0;
    }

    span {
        background: #fff;
        position: relative;
        padding: 0 20px;
    }
}

.c-title2 {
    @include optima;
    font-size: 1.5rem;
    text-align: right;
    background: url(/assets/img/common/br2.png) no-repeat top left #464646;
    color: #fff;
    padding: 10px 20px;
    font-weight: normal;
}

.c-title3 {
    @include optima;
    font-size: 1.5rem;
    text-align: right;
    border-bottom: 2px solid #23191a;
    padding-bottom: 10px;
}

.c-title4 {
    @include optima;
    font-size: 1.5rem;
    background: url(/assets/img/common/br3.png) no-repeat bottom right #464646;
    color: #fff;
    padding: 10px 20px;
    font-weight: normal;
}

.c-title5 {
    margin: 0 auto;
    text-align: center;
    line-height: 1;
    font-size: 1.8rem;
    position: relative;

    div {
        padding: 0 44px;
        background: #fff;
        display: inline-block;
        position: relative;
        z-index: 1;
    }

    &:before {
        content: '';
        position: absolute;
        top: 25px;
        left: 0;
        right: 0;
        height: 2px;
        background: #717171;
    }

    img {
        width: 73px;
        margin-left: 20px;
    }

    h2 {
        font-size: 3.3rem;
        position: relative;
    }

    p {
        margin-top: 12px;
    }
}

.c-title6 {
    max-width: 690px;
    margin: 0 auto;
    text-align: center;
    font-size: 2.3rem;
    padding-bottom: 15px;
    border-bottom: 1px solid #9c9c9c;
    font-weight: normal;
}