/*------------------------------------------------------------
text
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-text1 {
    text-align: center;

    &__tit {
        font-size: 2rem;
        margin-bottom: 15px;

        span {
            display: inline-block;
            border: 2px solid #b9b9b9;
            padding: 0 25px;
        }
    }

    &__text {
        text-align: left;
        display: inline-block;
        font-size: 2rem;
    }

    &__note {
        margin-top: 30px;
        font-size: 1.4rem;
    }

    li {
        position: relative;

        &+li {
            margin-top: 40px;
            padding-top: 40px;

            &:before {
                content: '';
                height: 1px;
                background: #9c9c9c;
                position: absolute;
                top: 0;
                left: calc(50% - 35px);
                width: 70px;
            }
        }
    }
}