/*------------------------------------------------------------
list
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-list1 {
    max-width: 540px;
    background: url(/assets/img/common/br1.png) no-repeat top left #f3f3f3;
    padding: 30px 40px 10px;
    @include optima;

    li {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 20px 15px;
        background: url(/assets/img/icon/arrow.svg) no-repeat center right 20px;
        background-size: 20px;
        position: relative;
        transition: .3s;

        @include pc {
            &:hover {
                transform: translateX(10px);
            }
        }

        &+li {
            border-top: 1px solid #bcbcbc;
        }

        p {
            width: 60px;

            a {
                font-size: 1.8em;
                color: $pink;
                font-weight: bold;
                @include abf;
            }
        }

        h3 {
            font-size: 1.4rem;
        }
    }
}

.c-list2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
        width: 50%;
        text-align: center;
    }

    img {
        width: 70px;
    }

    h3 {
        margin: 20px 0 10px;
        font-size: 1.5rem;
    }

    dl {
        text-align: left;
        display: inline-block;
    }

    dt,
    p {
        font-size: 1.5rem;
    }
}