/*------------------------------------------------------------
table
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-table {
    font-size: 1.6rem;
    border-collapse: collapse;
    width: 100%;

    th,
    td {
        vertical-align: middle;
        text-align: left;
        font-weight: normal;
        padding: 14px 30px;
        background: #f3f3f3;
    }

    tr:nth-child(2n) {

        th,
        td {
            background: #fff;
        }
    }

    th {
        width: 230px;
    }

    a {
        font-size: 1.6rem;
    }

    &__color2 {

        th,
        td {
            background: #fff;
        }

        tr:nth-child(2n) {

            th,
            td {
                background: #f3f3f3;
            }
        }

    }
}