/*------------------------------------------------------------
other
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-visual {
    background: #f3f3f3;
    padding: 70px 60px;

    .c-title1 {
        max-width: 100%;
        margin-bottom: 40px;

        span {
            background: #f3f3f3;
        }
    }

    &__box {
        position: relative;

        ul {
            position: absolute;
            top: 0;
            right: 0;

            li {
                float: left;
                border: 2px solid #af9e97;
                border-top: 1px solid #af9e97;
                border-left: 1px solid #af9e97;
                margin-left: 15px;
                padding: 5px 8px;
                border-radius: 5px;
                position: relative;
                transition: .3s;

                @include pc {

                    &:hover,
                    &.active {
                        background: #d6167d;
                        border: 2px solid #d6167d;
                        border-top: 1px solid #d6167d;
                        border-left: 1px solid #d6167d;

                        a {
                            color: #fff;
                        }
                    }
                }

                a {
                    font-size: 2rem;
                    color: #6b493d;
                    @include abf;
                }
            }
        }
    }

    &__tt {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        @include optima;

        p {
            margin-right: 15px;
            background: #d6177e;
            font-size: 3.8rem;
            color: #fff;
            border-radius: 5px;
            padding: 10px 18px;
        }

        h1 {
            font-size: 2rem;
            color: #585657;
            font-weight: normal;
        }
    }
}

.c-instagram {
    max-width: 540px;

    &__box {
        box-shadow: 0px 0px 5px 0px rgba(117, 117, 117, 1);
        border: 1px solid #eaeaea;
        padding: 10px 28px;
    }

    &__logo {
        line-height: 0;

        img {
            width: 60px;
            vertical-align: middle;
            margin-right: 12px;
        }

        a {
            font-size: 1.5rem;
            font-weight: bold;
            @include optima;
        }
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        div {
            width: 90px;
            position: relative;
            margin: 15px 0;

            @include pc {
                &:hover {
                    &:before {
                        background: rgba(0, 0, 0, 0.4);
                    }

                    p {
                        opacity: 1;
                    }
                }
            }

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(0, 0, 0, 0);
                transition: .3s;
            }

            img {
                width: 100%;
            }

            a {
                @include abf;
            }

            p {
                position: absolute;
                top: calc(50% - 8px);
                left: 0%;
                right: 0;
                text-align: center;
                opacity: 0;
                transition: .3s;

                span {
                    display: inline-block;
                    padding-left: 15px;
                    color: #fff;
                }
            }
        }
    }

    &__like {
        background: url(/assets/img/common/icon2.png) no-repeat center left;
        background-size: 10px;
    }

    &__comment {
        background: url(/assets/img/common/icon1.png) no-repeat center left;
        background-size: 10px;
        margin-left: 5px;
    }

    &__bnt {
        width: 185px;
        margin: 0 auto;
        background: url(/assets/img/icon/instagram_white.svg) no-repeat center left 15px #5489cb;
        background-size: 15px;
        padding: 9px 0px;
        padding-left: 40px;
        border-radius: 5px;
        position: relative;

        @include pc {
            &:hover {
                background: url(/assets/img/icon/instagram_white.svg) no-repeat center left 15px, linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
                background-size: 15px, auto;
            }
        }

        a {
            font-size: 1.3rem;
            color: #fff;
            @include abf;
        }
    }
}