#lightbox {
	background-color: #eee;
	padding: 10px;
	border-bottom: 1px solid #666;
	border-right: 1px solid #666;
}
#lightboxCaption {
	color: #333;
	background-color: #eee;
	font-size: 90%;
	text-align: center;
	border-bottom: 1px solid #666;
	border-right: 1px solid #666;
}
#lightboxIndicator {
	border: 1px solid white;
}
#lightboxOverallView,
#overlay {
	background-color: #000;
	opacity: 0.5;
}
* html #lightboxOverallView,
* html #overlay {
	background-color: #000;
	filter: Alpha(opacity=50);
}

@media all and (max-width: 768px) {
body {
	position: relative;
}

#lightbox {
	width: 100% !important;
	height: auto !important;
	box-sizing: border-box !important;
	position: absolute !important;
	left: 0 !important;
	right: 0 !important;
}

#lightboxImage {
	width: 100% !important;
	height: auto !important;
}

#actionImage {
	display: none !important;
}

}
